.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading-2-people {
  margin: 5rem 0 7rem 0;
}

.people {
  max-width: 26rem;
  //   margin: auto;
  text-align: center;
  margin-bottom: 5rem;
  transition: transform 0.3s;
  position: relative;
  background-color: white;
  margin-top: -2rem;
  &:hover {
    transform: scale(1.07);
  }

  &--2 {
    max-width: 28rem;
    background-color: white;
  }

  &__img {
    width: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    transition: transform 0.5s;
    cursor: pointer;
  }

  &__title {
    font-size: 3rem;
    margin: 2rem 0;
  }

  &__description {
    color: grey;
    font-size: 3rem;
    margin: 2rem 0;

    &--secondary {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 22px;
    color: black;

    &:hover {
      opacity: 0.7;
    }
  }

  &__btn {
    border: none;
    outline: 0;
    margin-top: 1.5rem;
    padding: 0.8rem;
    color: white;
    background: linear-gradient(to right, #d1913c, #ffd194);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 2rem;
    transition: all 0.4s ease;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    &:hover {
      opacity: 0.7;
    }
  }
}

.fa {
  margin: 0.5rem 0.7rem 0 0.7rem;
}
