.heading-places {
  margin-top: -10rem;
  margin-bottom: 8rem;
}

.container-places {
  width: 120rem;
}

.places {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.place {
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.07);
  }

  // trying to figure out how to make text pop-up on hover effect

  //   &__inf {
  //     position: absolute;
  //     top: 2rem;
  //     width: 35rem;
  //     height: 35rem;
  //     left: 1rem;
  //     text-align: left;
  //     color: white;
  //     font-size: 2.1rem;

  //     opacity: 0;
  //     transition: transform 0.5s ease;

  //     &:hover {
  //       visibility: visible;
  //       opacity: 1;
  //       transition: transform 0.5s ease;
  //     }
  //   }

  &__photo {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 0.4rem;
    // box-shadow: 0 1rem 6rem black;
    transition: transform 0.5s;
  }
  &__btn {
    padding: 1rem;
    width: 35rem;
    background: linear-gradient(to right, #d1913c, #ffd194);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    margin-top: -0.5rem;
    color: white;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
}
