// COLOR VARIABLES
$color-primary: #d5e7ee;
$color-primary-dark: #add8e9;
$color-primary-dark-2: #616b75;

$color-secondary: #d8ad82;
$color-dark: #000;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483a;
// $color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-header: "Luxurious Roman", cursive;
$font-header-title: "The Nautigal", cursive;
$font-header-title-2: "Oxygen", sans-serif;
$font-paragraph: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

//ANIMATION
$nav-load-time: 400ms;
$nav-link-load-time: 500ms;
