// COLOR VARIABLES

$color-secondary: #d8ad82;
$color-dark: #000;

// FONT VARIABLES
$font-header: "Luxurious Roman", cursive;
$font-header-title: "The Nautigal", cursive;
$font-header-title-2: "The Nautigal", cursive;
$font-paragraph: "Cormorant Garamond", serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

//ANIMATION
$nav-load-time: 500ms;

// shadow
$box-shadow-main: 1px 4px 10px black;
$box-shadow-secondary: 0 3px 25px 7px rgba(0, 0, 0, 0.35);
$box-shadow-btn: 0 3px 25px 7px rgba(0, 0, 0, 0.35);
